@import "tailwindcss";

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/OpenSans.woff2") format("woff2");
}

@font-face {
  font-family: Noto Serif;
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/NotoSerif.woff2") format("woff2");
}

@font-face {
  font-family: Noto Serif Italic;
  font-style: italic;
  font-display: swap;
  src: url("/src/assets/fonts/NotoSerif-Italic.woff2") format("woff2");
}

@theme {
  --font-sans: Open Sans, Arial, sans-serif;
  --font-serif: Noto Serif, Times, serif;
  --font-serif-italic: Noto Serif Italic, Times, serif;

  --color-black: #111111;
  --color-primary: #fffcf7;
  --color-secondary: #f9f2ec;
  --color-tangerine: #f08f3a;
  --color-coral: #e96a67;
  --color-blush: #c05d88;
  --color-amethyst: #835c90;
  --color-dusk: #4a567c;
  --color-harbor: #2f4858;
  --color-dark-orange: #e37311;
  --color-light-purple: #d5dcf2;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}
